.ProductsViewImportDescContainer {
  height: 35%;
  width: 100%;
  /* background-color: blue; */
}

.ProductsViewImportDescContainer p {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.ProductsViewImportDescContainer li {
  font-size: 14px;
  padding: 2px 0px;
  color: white;
}

.ProductsViewImportDescContainer-PostParse {
  height: 5%;
  width: 100%;
}

.ProductsViewImportDescContainer-PostParse p {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.ProductsViewImportDetailsContainer {
  height: 55%;
  width: 100%;
  overflow-y: scroll;
  /* background-color: red; */
}

.ProductsViewImportDetailsContainer input {
  padding-top: 5px;
  color: white;
}

.ProductsViewImportDetailsContainer-PostParse {
  height: 85%;
  width: 100%;
  /* background-color: red; */
}

.ProductsViewImportDetailsContainer-PostParse input {
  padding-top: 0px;
}

.ProductsViewImportDetailsContainer-PostParse input::placeholder {
  color: white;
}

.ProductsViewImportPPInputContainer {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
}

.ProductsViewImportPPDataTableContainer {
  height: 80%;
  overflow-y: scroll;
  width: 100%;
}

.ProductsViewImportPPButtonContainer {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
}

.ProductsViewImportPPButtonContainer button {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border: solid 2px white;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  color: white;
}

.ProductsViewImportPPButtonContainer button:hover {
  background: #85bb65;
  transition: 300ms;
}

.ProductsViewActionButtonContainer {
  height: 10%;
  width: 100%;
  padding: 0px 16px;
}

.ProductsViewActionButtonContainer button {
  width: 100%;
  height: 75%;
  padding: 10px 0px;
  border: none;
  border: solid 2px white;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  color: white;
}

.ProductsViewActionButtonContainer button:hover {
  background: #85bb65;
  transition: 300ms;
}

.ProductsViewTableContainer {
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
  /* background: linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199)); */
}

.ProductsViewCreateFormContainer {
  height: 90%;
  width: 100%;
}

.ProductsViewCreateForm {
  height: 100%;
  width: 100%;
}

.ProductsViewCreateForm input {
  width: 100%;
  padding: 5px;
  margin: 20px 0px;
  border-width: 0px 0px 1px;
  border-color: white;
  background-color: transparent;
  color: white;
}

.ProductsViewCreateForm input::placeholder {
  color: lightgray;
}

.ProductsViewCreateForm input:focus {
  outline: none;
  border-width: 0 0 2px;
  border-color: black;
}

.ProductsViewDetailsContainer {
  height: 90%;
  width: 100%;
}

.ProductsViewDetailsFormContainer {
  height: 100%;
  padding: 0px 16px;
}

.ProductsViewDetailsForm {
  height: 100%;
}

.ProductsViewDetailsForm label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 100%;
  margin: 10px 0px;
}

.ProductsViewDetailsForm input {
  width: 100%;
  padding: 5px;
  border-width: 0px 0px 1px;
  border-color: white;
  background-color: transparent;
  color: white;
}

.ProductsViewFormButton {
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  margin: 10px 0px;
  border: none;
  border: solid 2px white;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  color: white;
}

.ProductsViewFormButton:hover {
  background: #85bb65;
  transition: 300ms;
}

.ProductsViewProductQRContainer {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductsViewProductQRContainer img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .ProductsViewContentContainer {
    width: 100%;
  }
  .ProductsViewProductQRContainer {
    padding-bottom: 100px;
  }
}
