.MainAuthViewContainer {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: white;
}

.AuthInfoContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}

.AuthInfoContentLabelContainer {
  width: 75%;
}

.AuthInfoContentLabelContainer p {
  padding: 12px 0px;
}

.AuthInfoContentLabelContainer .AuthInfoContentBrandLabel {
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.AuthInfoContentLabelContainer .AuthInfoContentDescriptionLabel {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.AuthViewFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.AuthViewFormRow {
  height: 66.667%;
  width: 100%;
}

.AuthViewFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.333%;
}

.AuthViewFormHeader p {
  font-size: 24px;
  font-weight: 800;
}

.AuthViewForm {
  height: 66.667%;
  width: 100%;
}

.AuthViewFormInput {
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  border-width: 0 0 1px;
  border-color: black;
}

.AuthViewFormInput:focus {
  outline: none;
  border-width: 0 0 2px;
  border-color: red;
}

.AuthViewFormButton {
  width: 100%;
  height: 50px;
  border: none;
  border: solid 2px black;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.AuthViewFormButton:hover {
  background: black;
  color: white;
}

.AuthViewOptionsLinkContainer {
  margin: 10px 0px;
}

@media screen and (max-width: 600px) {
  .AuthInfoContentContainer {
    display: none;
  }
}
