.MainStdViewContainer {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.StdViewMenuContentContainer {
  height: 90%;
  width: 100%;
}

.StdViewContentContainer {
  height: 100%;
  width: 90%;
  background: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
  /* background: linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199)); */
  padding: 0px 28px;
}

.StdViewContentHeaderContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.StdContentHeaderLabel {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.StdViewContentTableContainer {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
  /* background: linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199)); */
}

.TransactionViewDetailsContainer {
  height: 90%;
  width: 100%;
}

.TransactionViewDetailsLabelContainer p {
  width: 100%;
  font-size: 18px;
  color: white;
  padding: 6px 0px;
}

.TransactionViewDetailsMapContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .StdViewContentContainer {
    width: 100%;
  }
  .TransactionViewDetailsMapContainer {
    padding: 20px 0px;
  }
}
