.MainTransactionsViewContainer {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.TransactionsViewMenuContentContainer {
  height: 90%;
  width: 100%;
}

.TransactionsViewContentContainer {
}
