.AnalyticsViewOptionsContainer {
  height: 10%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.AnalyticsViewReportTypeCol {
  height: 100%;
  width: 50%;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AnalyticsViewReportTypeCol select {
  height: 50%;
  width: 100%;
}

.AnalyticsViewPeriodTypeCol {
  height: 100%;
  width: 50%;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AnalyticsViewPeriodTypeCol select {
  height: 50%;
  width: 100%;
  text-align-last: right;
  -ms-text-align-last: right;
  -moz-text-align-last: right;
  direction: rtl;
}

.AnalyticsViewChartsInfoContainer {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.AnalyticsViewChartsInfoContainer p {
  font-size: 32px;
  font-weight: bold;
}

.AnalyticsViewChartsContainer {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  color: white;
}

.MainAnalyticsViewChartsPieBarRow {
  width: 100%;
  padding: 30px 0px;
}

.MainAnalyticsViewChartsTotalContainer p {
  font-size: 36px;
  font-weight: bold;
}

.MainAnalyticsViewChartsPieContainer {
  height: 100%;
}

.MainAnalyticsViewChartsBarContainer {
  height: 100%;
}

.MainAnalyticsViewChartsLineRow {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .AnalyticsViewContentContainer {
    width: 100%;
  }
}
