.SettingsViewOptionsContainer {
  height: 100%;
  padding: 16px;
  margin: 0px;
  background-color: white;
  color: black;
  padding: 0px;
}

.SettingsViewOptionContainer {
  width: 100%;
}

.SettingsViewOption {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}

.SettingsViewOption p {
  font-size: 14px;
  font-weight: 500;
}

.SettingsViewOption:hover {
  background-color: black;
  color: white;
  transition: 400ms;
}

.SettingsViewOption-Active {
  background-color: black;
  color: white;
}

.SettingsViewOption-Active p {
  font-size: 16px;
  font-weight: 900;
}

.SettingsViewProfileViewInfoForm {
  height: 65%;
  padding: 0px 16px;
}

.SettingsViewProfileViewInfoForm label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 100%;
  margin: 10px 0px;
}

.SettingsViewProfileViewInfoForm input {
  width: 100%;
  padding: 5px;
  border-width: 0px 0px 1px;
  border-color: white;
  background-color: transparent;
  color: white;
}

.SettingsViewActionButtonContainer {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SettingsViewActionButton {
  width: 75%;
  padding: 12px 0px;
  margin: 15px 0px;
  border-radius: 5px;
  border: solid 2px white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.SettingsViewActionButton:hover {
  background: white;
  color: rgb(20, 136, 204);
  transition: 300ms;
}

.SettingsViewPaymentsViewInfoContainer {
  height: 65%;
  padding: 0px 16px;
}

.SettingsViewPaymentsViewInfoConvertForm {
  height: 100%;
}

.SettingsViewPaymentsViewInfoConvertForm label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 10px 0px;
}

.SettingsViewLogOutViewAYSContainer {
  height: 65%;
  padding: 0px 16px;
  color: white;
}
