.SettingsViewOptionsContainer {
  height: 100%;
  padding: 16px;
  margin: 0px;
  background-color: white;
  color: black;
  padding: 0px;
}

.SettingsViewOptionContainer {
  width: 100%;
}

.SettingsViewOption {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}

.SettingsViewOption p {
  font-size: 14px;
  font-weight: 500;
}

.SettingsViewOption:hover {
  background-color: black;
  color: white;
  transition: 400ms;
}

.SettingsViewOption-Active {
  background-color: black;
  color: white;
}

.SettingsViewOption-Active p {
  font-size: 16px;
  font-weight: 900;
}

@media screen and (max-width: 1100px) {
  .MainDashboardMenuContainer {
    display: none;
  }
}
